body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;

}

a {
  text-decoration: none;
  text-transform: uppercase;
}
/*-------------------ЛОГОТИП--------------------*/

.main-header-logo img:hover{
  opacity: 0.8;
}
.main-header-logo img:active{
  opacity: 0.3;
}


/*------------------ НАВИГАЦИЯ -----------------*/
.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation:active {
	color: #000000;
  opacity: 0.3;
}
.navigation-link {
border-bottom: 2px solid red;
}

a.navigation-link:hover {
  opacity: 1;
  color: #000000;
}


/*----------------КОНТЕНТ*------------------*/

/*------------------------------ГЛАВНАЯ----------------------------------------*/
 
/*----------------СЛАЙДЕР-------------------*/
 .slide1 {
  min-height: 430px;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: right;
}
.slide1 b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slide2 {
  min-height: 430px;
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: right;
}
.slide2 b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slide2 p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.slide3 {
  min-height: 430px;
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: right;
}
.slide3 b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.slide3 p{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.slider-btn {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}
.slider-btn {
  background-color: #fb565a;
}
.slider-btn:hover {
  background-color: #e74246;
}
.slider-btn:active {
  background-color: #d7373b;
}
.slider-btn span:active {
  opacity: 0.3;
}


/*-------------------УСЛУГИ--------------------*/
.services {
  color: #000000;
  background-color: #ffffff;
}

.services h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button-red {
  background-color: #fb565a;
}
.button-red:hover {
  background-color: #e74246;
}
.button-red:active {
  background-color: #d7373b;
}
.button-red span:active{
  opacity: 0.3;
}



.button-green {
  background-color: #00ca74;
}
.button-green:hover {
  background-color: #00bc6c;
}
.button-green:active {
  background-color: #00aa62;
}
.button-green span:active{
  opacity: 0.3;
}



.button-yellow {
  background-color: #efc84a;
}
.button-yellow:hover {
  background-color: #eab534;
}
.button-yellow:active {
  background-color: #e5a722;
}
.button-yellow span:active{
  opacity: 0.3;
}

/*-----------------ИНФОРМАЦИЯ-------------------*/

.info b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.info p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.info h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.info ul li {
  font-size: 16px;
  line-height: 40px;
  font-weight: 400;
}
.info-item h2 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.info-item strong {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}
/*------------------REFERENCES-BLOCK----------------*/
.references-block img{
  opacity: 0.2;
}

.references-block img:hover{
  opacity: 1;
}
.references-block img:active{
  opacity: 0.1;
}
/*-----------------------------КАТАЛОГ------------------------------------*/

.title {	
  background-color: #eeeeee;
}
.title h1 {	
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

/*ФИЛЬТР*/

.filter-form fieldset {
	border: 0;
}

.filter-form legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.filter-form ul {
	list-style: none;
	line-height: 20px;
}
.filter-form label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.filter-input:hover + label,
.filter-input:focus + label {
	color: #283136;
}
.filter-input:disabled + label {
	color: #283136;

	opacity: 0.5;
}
.filter-button {
	background-color: #eeeeee;
	color: #000000;
 	font-size: 16px;
  line-height: 18px;
  font-weight: 500;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
}
.filter-button:hover {
  background-color: #dfdfdf;
}
.filter-button:active {
	background-color: #d5d5d5;
}
.filter-button span:active {
  opacity: 0.3;
}


/*-----------------СОРТИРОВКА---------------*/

.filter-sort h2 {
	font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}
.filter-sort a {
	font-size: 14px;
  line-height: 18px;
  font-weight: 400;
	color: #000000;
}
.filter-sort span:hover {
  opacity: 0.6
}
.filter-sort span:active {
  opacity: 0.3
}


/*СПИСОК ШАБЛОНОВ*/

.catalog-list {
	list-style: none;
}
.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.catalog-item p {
	font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.catalog-item {
	background-color: #ffffff;
	box-shadow: 
}

.item {
	background-color: #eeeeee;
}

/*---------------КНОПКА 9900---------------*/
 .price {
 	background-color: #fb565a;
 	color: #ffffff;
 	font-size: 16px;
  line-height: 18px;
  font-weight: 500;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: none;
 }

.price:hover {
  background-color: #e74246;
}
.price:active {
  color: #ffffff;
	background-color: #d7373b;
}

 /*------------------КНОПКИ ПАГИНАЦИЯ--------------*/

.navigation-pages-item {
  font-size: 16px;
  font-weight: 500;
  min-width: 50px;
  height: 50px;
  background-color: #eeeeee;
}

.navigation-pages-item:hover {
  background-color: #dfdfdf;
}

.navigation-pages-item:active {
  background-color: #d5d5d5;
}

.navigation-pages-item:active .navigation-pages-link {
  color: #000000;
  opacity: 0.3;
}


.navigation-pages-item:not(:last-child) {
  margin-right: 11px;
}

.navigation-pages-item:last-child {
  min-width: 260px;
}

.navigation-pages-link {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.navigation-pages-items {
  list-style: none;
  display: flex;
}

/*=========================================================================*/

/*-----------------------КАРТА----------------------*/
.map {
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 70px;
}
/*-----------------------КОНТАКТЫ-------------------*/

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.contacts p {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.btn {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}
.btn {
  background-color: #fb565a;
}
.btn:hover {
  background-color: #e74246;
}
.btn:active {
  background-color: #d7373b;
}
.btn span:active {
  opacity: 0.3;
}


/*-----------------------ФУТЕР----------------------*/
.social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  padding-right: 140px;
}

.social li:not(:last-child) {
  padding-right: 12px;
}

.footer-social b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.footer-social p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.main-footer {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footer-social {
  height: 80px;
}

.social a {
  display: flex;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
  border-radius: 40px;
}

.social a:hover {
  background-color: #e74246;
}

.social a:active {
  background-color: #d7373b;
}
 .social-button:active img{
  opacity: 0.3;
}

/*================================ФЛЕКСЫ===============================


.main-header {
  padding-top: 50px;
  padding-bottom: 18px;
  background-color: #eeeeee;
}
.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.user-navigation {
  width: 160px;
  margin: 0;
  padding: 0;
}
.site-navigation {
  width: 440px;
  margin: 0;
  padding: 0;
}


/*---------------------------------ГЛАВНАЯ-------------------------------*/
/*
.main-container {

}

.full-screen {
  background-color: #eeeeee;
}

.slider {
  width: 1160px;
  margin: 0 auto;
}

.services {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style: none;
  margin-bottom: 80px;
}

.services-item {
  width: 300px;
  margin: 0;
  padding: 0;
}

.info {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.service-list {
  width:660px;
  margin: 0;
  padding: 0;
}

.list-item {
  width: 460px;
  list-style: none;
}

.nerds {
width: 360px;
margin: 0;
padding: 0;
}

.list {
  width: 360px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 75px;
}

.references-block {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-bottom: 44px;
}

.references-item {
  width: 260px;
}

/*-------------------------------КАТАЛОГ--------------------------------*/













