body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input[type="submit"] {
  -webkit-appearance: none;
}
/*-------------------ЛОГОТИП--------------------*/
.main-header {
  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-header-logo img:hover {
  opacity: 0.8;
}
.main-header-logo img:active {
  opacity: 0.3;
}


/*------------------ НАВИГАЦИЯ -----------------*/
.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1160px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  background-color: #eeeeee;
  padding-top: 50px;
}

.site-navigation {
  min-width: 440px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 45px;
}

.user-navigation {
  margin: 0;
  padding: 0;
  padding-left: 42px; 

  background-image: url("../img/cart-icon.svg"); 
  background-repeat: no-repeat; 
  background-position-y: 20px; 
  background-size: 15px 15px;
}

.navigation-list:not(:last-child) {
 }

.site-navigation,
.user-navigation {
  list-style: none;
  padding-top: 14px; 
}

.site-navigation a,
.user-navigation {
  color: #000000;
}

.site-navigation a:hover,
.user-navigation:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation:active {
  color: #000000;
  opacity: 0.3;
}
.navigation-link {
  padding-bottom: 10px;
  border-bottom: 2px solid red;
}

a.navigation-link:hover {
  opacity: 1;
  color: #000000;
}

/*----------------КОНТЕНТ*------------------*/

/*---------------------------------ГЛАВНАЯ----------------------------------*/
 
/*----------------СЛАЙДЕР-------------------*/
 .full-screen {
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.slider {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  background-color: #eeeeee;
}
.container {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.slider {
  position: relative;
  
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
   transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button-slider {
  -webkit-appearance: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  display: block;
  width: 240px;
  padding: 16px 0;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button-slider:hover,
.button-slider:focus {
  background-color: #e74246;
}

.button-slider:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
/*-------------------УСЛУГИ--------------------*/
.services {
  color: #000000;
  background-color: #ffffff;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-bottom: 58px;
}

.services-item:not(:nth-child(3n)) {
  margin-right: 100px;
}

.services-item {
  width: 300px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.services h3 {
  font-size: 24px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 19px;
}
.service-content {
  margin-bottom: 33px;
}

.button {
  -webkit-appearance: none;
  display: inline-block; 
  padding: 13px 40px; 
  font-weight: 500;   
  text-transform: uppercase; 
  border-radius: 2px; 
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
}

.button-red {
  background-color: #fb565a;
}
.button-red:hover {
  background-color: #e74246;
}
.button-red:active {
  background-color: #d7373b;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.button-red:active span{
  opacity: 0.3;
}

.button-green {
  background-color: #00ca74;
}
.button-green:hover {
  background-color: #00bc6c;
}
.button-green:active {
  background-color: #00aa62;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.button-green:active span {
  opacity: 0.3;
}

.button-yellow {
  background-color: #efc84a;
}
.button-yellow:hover {
  background-color: #eab534;
}
.button-yellow:active {
  background-color: #e5a722;
  -webkit-box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.button-yellow:active span {
  opacity: 0.3;
}

/*-----------------ИНФОРМАЦИЯ-------------------*/
.info {
  border-top: 2px solid #eeeeee;
  position: relative;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-top: 78px;

}

.service-list {
  width:660px;
  margin: 0;
  padding: 0;
}
.list-item {
  padding: 0;
  margin: 0;
  width: 460px;
  list-style: none;
  margin-top: 12px;
}

.nerds {
  width: 360px;
  margin: 0;
  padding: 0;
}



.info h2 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-service p {
  font-size: 16px;
  line-height: 24px;
}
.description-service {
  margin-bottom: 40px;
}

.list-item li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  top: 50%;
  left: 0;
}

.list-item li {
  position: relative;
  font-size: 16px;
  line-height: 48px;
  font-weight: 400;
  padding-left: 36px;
}

.info-item {
  width: 360px;
}

.info-item img {
  margin-top: 42px;
  margin-bottom: 30px;
}
.info-item h2 {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 43px;
}
.info-list {
  margin-bottom: 19px;
}

.info-item strong {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}
.info-item sup {
  font-size: 28px;
  top: -15px;
}
.list {
  padding: 0;
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: -17px;
}
.list li {
  width: 120px;
  font-size: 16px;
}
.info-text {
  font-size: 16px;
  line-height: 18px;
}

/*------------------REFERENCES-BLOCK----------------*/
.partners {
  position: relative;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 80px;
  position: relative;
}

.references-block {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
   align-items: center;
  list-style: none;
  padding-top: 44px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 40px;
}

.references-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 260px;
  height: 96px;
  
}

.references-item:not(:nth-child(4n))::after { 
  content: ""; 
  position: absolute; 
  right: -20px; 
  top: 20px;

  width: 2px; 
  height: 52px; 

  background-color: #eeeeee; 
}

.references-block img {
  opacity: 0.2;
}

.references-block img:hover {
  opacity: 1;
}
.references-block img:active {
  opacity: 0.1;
}
/*-----------------------------КАТАЛОГ------------------------------------*/

.title {  
  background-color: #eeeeee;
}

.title h1 { 
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  padding: 75px;
  padding-bottom: 111px;
  text-align: center;
  margin-bottom: 57px;
}

/*ФИЛЬТР*/

.filter-form {
  width: 261px;
}

.filter-form fieldset {
  border: 0;
  padding: 0;
}

.filter-form legend {
  font-size: 18px;
  line-height: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.price-title {
  margin-bottom: 56px;
}
.filter-form ul {
  padding-left: 35px;
  list-style: none;
  line-height: 40px;
}
.filter-form label {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}
.filter-sort h2 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: #283136;
  opacity: 0.5;
}

.filter-button {
  display: inline-block;
  background-color: #eeeeee;
  color: #000000;
  padding: 17px 89px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  -webkit-appearance: none;
}
.filter-button:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}
.filter-button:active {
  background-color: #d5d5d5;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.filter-button span:active {
  opacity: 0.3;
}

/* ============СТОИМОСТЬ============= */
.price-filter {
  margin: 0;
  padding: 0;
  border: none;
  width: 260px; 
  margin-top: 9px;
}

.price-slider {
  width: 260px;
  margin-top: 56px;
}

.price-filter legend {
  font-size: 18px;
  line-height: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-slider {
  position: relative;
  
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-slider .scale {
  height: 2px;

  background: #d7dcde;
}

.range-slider .way {
  height: 2px;
  background: #00ca74;
}

.way {
  margin-left: 0%;
  width: 70%
}

.range-slider .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  
  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-slider .toggle-min {
  left: 18px;
}

.range-slider .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}
/* ================СЕТКА================= */

.grid-filter {
  margin-top: 67px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -4px;
  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: -4px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:hover + label::after {
  opacity: 1;
}


/* ==============ОСОБЕННОСТИ============= */

.features-filter {
  margin-top: 28px;
  margin-bottom: 25px;
}

 .filter-option label {
  position: relative;

  display: inline-block;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} 

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -4px;
  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -4px;
  left: -36px;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:hover::after {
  opacity: 1;
}


/*-----------------СОРТИРОВКА---------------*/

.filter-sort {
  margin-bottom: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.filter-sort-links:not(:last-child) {
  margin-right: 26px;
}
.filter-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filter-sort h2 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin: 0px;
}
.filter-sort a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.triangle {
  margin-left: 22px;
}

.triangle-down {
  margin: 0;
  padding: 0;
  padding-left: 30px; 

  background-image: url("../img/icon-down-dir.svg"); 
  background-repeat: no-repeat; 
  background-position-y: 1px; 
  background-size: 11px 10px;
}

.triangle-up {
  margin: 0;
  padding: 0;
  padding-left: 10px; 

  background-image: url("../img/icon-up-dir.svg"); 
  background-repeat: no-repeat; 
  background-position-y: 1px; 
  background-size: 11px 10px;
}

.triangle-down:hover {
  cursor: pointer;
  opacity: 0.6;
}
.triangle-down:active {
  opacity: 0.3;
}
.triangle-up:hover {
  cursor: pointer;
  opacity: 0.6;
}
.triangle-up:active {
  opacity: 0.3;
}
.filter-sort-links:hover {
  cursor: pointer;
  opacity: 0.6;
}
.filter-sort-links:active {
  opacity: 0.3;
}



/*-----------------------------СПИСОК ШАБЛОНОВ*------------------------*/

.catalog-columns {
  width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sort-and-catalog {
  width: 760px;
}
.catalog-item {
  overflow: hidden;
  position: relative;
  width: 360px;
  height: 616px;
  margin-bottom: 33px;
  background-color: #ffffff;
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}
.catalog-list {
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 26px;
}
.card-head {
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
  height: 29px; 
  padding-top: 12px; 
  padding-left: 16px; 
  font-size: 0; 
  background-color: #4d4d4d; 
  opacity: 0.12;
}

.catalog-item:hover {
  background-color: #4d4d4d;
  -webkit-box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}
.catalog-item:hover .card-head {
  opacity: 1;
}

.catalog-item:hover .item {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.card-head-item {
  display: inline-block; 
  width: 14px; 
  height: 14px; 
  margin-right: 9px; 
  background-color: #ffffff; 
  border-radius: 50%;
}
.catalog-item h3 {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.catalog-item p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.item {
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: 0.4s all ease;
  -o-transition: 0.4s all ease;
  transition: 0.4s all ease;
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  padding-top: 28px; 
  padding-bottom: 50px;   
  text-align: center; 
  background-color: #eeeeee;
}


/*---------------КНОПКА 9900---------------*/
 .price {
  display: inline-block;
  padding: 16px 60px;  
  background-color: #fb565a;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  -webkit-appearance: none;
 }

.price:hover {
  background-color: #e74246;
}
.price:active {
  color: #ffffff;
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

 /*------------------КНОПКИ ПАГИНАЦИЯ--------------*/

.navigation-pages-item {
  font-size: 16px;
  font-weight: 500;
  min-width: 50px;
  height: 50px;
  background-color: #eeeeee;
}

.navigation-pages-link:hover {
  background-color: #dfdfdf;
}

.navigation-pages-link:active {
  background-color: #d5d5d5;
}

.navigation-pages-link:active {
  color: #000000;
  opacity: 0.3;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}


.navigation-pages-item:not(:last-child) {
  margin-right: 11px;
}

.navigation-pages-item:last-child {
  min-width: 260px;
}

.navigation-pages-link {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000000;
}

.navigation-pages-items {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}
.active-navigation-link {
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}
.active-navigation-link:active,
 .active-navigation-link:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
  opacity: 1;
}

/*=========================================================================*/

/*-----------------------КАРТА----------------------*/
.map {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 68px;
}
/*-----------------------КОНТАКТЫ-------------------*/
.contacts {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 140px;
  width: 320px;
  min-height: 308px;
  padding: 51px;
  position: absolute;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contacts h3 {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 19px;
  margin-top: -5px;
}
.contacts p {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.phone a {
  color: #000000;
}

.btn {
  margin-top: 17px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  display: block;
  width: 217px;
  padding: 17px 0px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  -webkit-appearance: none;
}
.btn {
  background-color: #fb565a;
}
.btn:hover {
  background-color: #e74246;
}
.btn:active {
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.btn:active span {
  opacity: 0.3;
}


/*-----------------------ФУТЕР----------------------*/
.social-networks {
  margin-top: -7px;
}

.social {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding-right: 123px;
}

.social li {
  margin-right: 12px;
  margin-bottom: 10px;
}

.footer-social b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.footer-social p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.main-footer {
  width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 70px;
}

.footer-social {
  height: 80px;
}

.social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #e1e1e1;
  border-radius: 40px;
}

.social a:hover {
  background-color: #e74246;
}

.social a:active {
  background-color: #d7373b;
}
 .social-button:active img{
  opacity: 0.3;
}
/*========================ПОПАП==================== */
 
@keyframes bounce {
  
 0% { 
transform: translate(-50%, -50%); 
} 

50% { 
transform: translate(-50%, 10%); 
} 

70% { 
transform: translate(-50%, 0); 
} 

90% { 
transform: translate(-50%, 10%); 
} 

100% { 
transform: translate(-50%, 0); 
}

}

@keyframes shake {
  0%,
  100% {
    transform: translateY(-50%);
  }

  0%,
  100% {
    transform: translateX(-50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-55%, -50%);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-45%, -50%);
  }
}

 .modal-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 760px; 
  padding-top: 73px; 
  padding-right: 100px; 
  padding-bottom: 84px; 
  padding-left: 100px; 
  background-color: #ffffff;  
  -webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);  
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.2s;
}

 .message-info {
  width: 760px;
  background-color: #ffffff;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
 }

 .form-registration {
  width: 760px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
 }

 .message-name {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 35px;
  margin-top: 0
 }

.message-email {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 35px;
  margin-top: 0;
 }

 .modal-message h2 {
  margin-top: 0;
  margin-bottom: 33px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
 }

 .modal-message label {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
 }

.message-name input {
  overflow: visible;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.message-email input {
  overflow: visible;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}
.form-registration input {
  border: 2px solid #d7dcde;
}

.modal-message textarea {
  border: 2px solid #d7dcde;
}

.message-text {
  width: 760px;
  margin-bottom: 47px;
  display: flex;
  flex-direction: column;
}

.message-text textarea {
  overflow: auto;
  min-height: 118px;
  padding: 15px;
  resize: none;

}

.modal-message input:hover {
  border-color: #b4b9bb;
}

.modal-message textarea:hover {
  border-color: #b4b9bb;
}

.modal-message #message-email:focus {
  border-color: #000000;
}
.modal-message #message-name:focus {
  border-color: #000000;
}

.modal-message textarea:focus {
  border-color: #000000;
}

.modal-message input:invalid {
  border-color: red;
}


.popup-close {
  -webkit-appearance: none;
  position: absolute;
  top: 80px;
  right: 90px;
  background-image: url(../img/close-cross.svg);
  background-repeat: no-repeat;
  width: 21px;
  height: 21px;
  background-color: #ffffff;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

.popup-close:hover {
  opacity: 1;
}

.popup-close:active {
  opacity: 0.1;
}

.message-submit {
  -webkit-appearance: none;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  display: block;
  min-height: 50px;
  padding: 18px 68px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  cursor: pointer;
 }
.message-submit {
  background-color: #fb565a;
}
.message-submit:hover {
  background-color: #e74246;
}
.message-submit:active {
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}